*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.navbar h2{
    padding-left:30px;
    padding-top: 15px;
    color: rgba(255, 0, 0, 0.61);
}
.navbar img{
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 2px;
}
.design a{
    text-decoration: none;
    color: rgb(1, 1, 27);
}
.design
{
	background-color:transparent;
	border:1px solid #b4afaf;
	border-radius:5px;
	padding:20px 20px;
    margin-top: 15%;
    margin: 20px 0px;
    width: 350px;
    font-size: 15px;
    height: fit-content;
    padding-bottom: 20px;
	box-shadow:0px 0px 40px #ffffff;
}
.designq
{
	background-color:transparent;
	border:1px solid #b4afaf;
	border-radius:5px;
	padding:0px 20px;
    /* margin-top: 15%; */
    margin: 20px 0px;
    width: 900px;
    font-size: 15px;
    height: fit-content;
    /* text-align: center; */
    padding-bottom: 20px;
	box-shadow:0px 0px 40px #ffffff;
}
.designss{
    background-color:transparent;
	border:1px solid #b4afafd7;
	border-radius:5px;
	padding:0px 20px;
    margin-top: 15%;
    margin: 20px 20px;
    width: 260px;
    height: fit-content;
    padding-bottom: 20px;
    padding-left: 0%;
    padding-right: 0%;
	box-shadow:0px 0px 40px #ffffff;
}
.fields{
    height: 30px;
    width: 200px;
}
.ff img{
    padding-top: 10px;
    width: 300px;
    height: 40vh;
    padding-right: 50px;
    /* padding-left: 20px; */
}
.loi{
    width: 260px;
    height: 30px;
    padding-top: 7px;
    margin-top: 25px;
    background-color: rgb(0, 65, 0);
    color: white;
}
.subhead{
    font-size: 18px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    color: rgb(90, 0, 0);
    margin-top: 2%;
}
.fg{
    background-color: rgba(170, 168, 168, 0.877);
    margin-top: 2%;
    border-radius: 5px;
    width: 150px;
    color: rgb(255, 255, 255);
    background-color:#c41c1cd7;
    border: 1px solid #7922662a;
}
.fg:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color:#df1010;

}
.fg1{
    background:orangered; 
    color:white; 
    padding: 10px 10px; 
    font-size: 15px;
}
.fg1:hover{
    background-color: orange;
    cursor: pointer;
    color: black;
}
.fg12{
    background:rgba(255, 68, 0, 0.705); 
    color:white; 
    padding: 10px 10px; 
    font-size: 15px;
}
.fg12:hover{
    background-color: rgb(255, 60, 0);
    cursor: pointer;
    color: black;
}
.fg14{
    background:rgb(47, 161, 196); 
    color:white; 
    padding: 10px 10px; 
    font-size: 15px;
}
.fg14:hover{
    background-color: rgb(0, 204, 255);
    cursor: pointer;
    color: rgb(255, 251, 251);
}

.fff{
    color:transparent;
}
.fg15{
    background:rgb(47, 161, 196); 
    color:white; 
    padding: 10px 10px; 
    font-size: 15px;
}
.fg15:hover{
    background-color: rgb(0, 204, 255);
    cursor: pointer;
    color: rgb(255, 251, 251);
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #303030;
    color: white;
    font-size: 18px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}
html{
    scroll-behavior: smooth;
}
.poi h1{
    margin-left: 30px;
    color: #6b0000;
}
#back-to-top:hover {
    opacity: 0.7;
    transform: scale(0.9);
}
input{
    width: 150px;
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
.kols{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.sig{
    padding: 5px;
    color: blue;
}
.sig:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mtog{
    color: #000;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}
.naviga{
    /* position: fixed; */
     position: absolute;
     width: 200px; 
    z-index: 100px;
    /* display: block; */
    height: 100%;
    right:-500px;
    background: rgb(0, 0, 0);
    transition: 0.9s;
}
.naviga ul li{
    list-style: none;
    padding: 20px;
    display: inline;
    z-index: 100px;
    display: block;
    margin-top: 20px;
    /* margin-top: 40px; */
    font-size: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-left: 100px;
    color: rgb(255, 255, 255);
}
.ji{
    margin-top: 100px;
}
.naviga ul li:hover{
    background: rgb(80, 79, 79);
    cursor: pointer;
}
.navigat{
    position: fixed;
    width: 350px;
    height: 100%;
    right:-500px;
    background: rgb(0, 0, 0);
    transition: 0.5s;
}
.navigat .fn{
    list-style: none;
    padding: 20px;
    margin-top: 30px;
    font-size: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-left: 100px;
}
.navigat .fn:hover{
    background: rgb(5, 5, 5);
}

.hamb{
    /* position: fixed; */
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translateY(-50%);
    cursor: pointer;
    /* display: none; */
}
.naviga,.bar{
    position:fixed;
}
.bar{
    top: 3px;
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    transition: all 0.5s ease-in;
}
#bar2{
    top: 11px;
}
#bar3{
    top: 19px;
}
.naviga.active{
    left: 0;
}
.hamb.open #bar1{
    margin-top: 10px;
    background: #ffffff;
    transform: rotate(45deg) translate(6px,5px);
}
.hamb.open #bar2{
    margin-top: 10px;
    background: transparent;
}
.hamb.open #bar3{
    margin-top: 10px;
    background: #ffffff;
    transform: rotate(-45deg) translate(6px,-5px);
}
.buuut{
    color: rgba(255, 0, 0, 0.418);
    text-decoration: none;
    list-style: none;
}
.stureg:hover{
    color: red;
    font-weight: 900;
}
.stureg{
    color: rgba(255, 0, 0, 0.63);
}
/* ul li a{
    display: block;
} */
.dropdown{
    display: none;
}
.ho{
    padding: 10px 10px;
    background-color:  rgba(255, 0, 0, 0.103);
    color: black;
}
.ho:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(255, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}
.side-bar{
    width: 230px;
    height: 100vh;
    background: #1b1a1b;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.5s ease;
    transition-property: left;
}
.menu{
    width: 100%;
    margin-top: 20px;
}
.menu .items{
    position: relative;
    cursor: pointer;
}
.menu .items a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
.itemss{
    color: #fff;
    font-size: 16px; 
    padding: 5px 30px;
}
.menu .items .hom a{
    color: #fff;
    font-size: 18px; 
    display: block;
    padding: 10px 20px;
    line-height: 30px;
    text-decoration: none;
}
.menu .items a:hover{
    color: #0fe0d58e;
}
.items i{
    margin-right: 5px;
}
.items a .droopdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.5s ease;
}
.items a .dropdown{
    position: absolute;
    right: 0;
    margin: 10px;
    transition: 0.5s ease;
}
.items .sub1menu{
    background: #262627;
    /* min-height: 400px; */
    /* transition: 0.8s ease; */
    display: none;
}
.side-bar::-webkit-scrollbar{
    width: 0px;
}
.items .ac{
    padding-left: 30px;
}
.items .bc{
    padding-left: 2px;
}
.items .cc{
    padding-left: 15px
}
.items .dc{
    padding-left: 30px;
}
.items .dcs{
    padding-left: 0%;
}
.st{
    width: 100%;
    min-height: 100vh;
    padding-left: 20%;
    padding-top: 0%;
}
.labelss{
    /* padding: 18px 180px; */
    gap: 20%;
    /* padding-left: 20px; */
}
.contai{
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    padding-left: 10%;
    margin: 30px;
    justify-content: center;
}
.rw input{
    height: 40px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid rgba(37, 37, 37, 0.418);
}
.rw input:focus{
    box-shadow: rgb(0, 0, 0);
    outline: #252424;
    
}
.rw .btn{
    margin-bottom: 20px;
    height: 40px;
    padding: 10px 10px;
    background-color: #262627f3;
    color: white;
    border: none;
}
.rw .btn:hover{
    cursor: pointer;
    border-radius: 5px;
}
.navss{
    width: 100%;
    height: 60px;
    background: #252424;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
}
.na{
    width: 100%;
    height: 60px;
    background: #252424;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
}
.logg{
    padding-left: 20%;
    color: white;
    display: flex;
    padding-top: 3px;
    /* color: orangered; */
}
.logg h4 {
    padding-top: 21px;
    width: 900px;
}
.loggs{
    padding-left: 6%;
    padding-top: 20px;
    color: white;
}
.t2{
    display: flex;
    padding-top: 20px;
}
.vwa{
    text-align: center; 
    margin-top: 8px;
    color: #b60b0b;
}
.vwa:hover{
    text-decoration: underline;
}
.lou{
  color: white;
}
.loggs:hover{
    color: #0fe0d58e;
}
.clock{
    position: absolute;
    left:66%;
    top: 35%;
    color:azure;
    font-weight: 900;
}
.tif{
    position: absolute;
    left: 61%;
    top: 35%;
    font-weight: 900;
}
.clock1{
    position: absolute;
    left:83%;
    top: 35%;
    color:azure;
    font-weight: 900;
}
.tif1{
    position: absolute;
    left: 78%;
    top: 35%;
    font-weight: 900;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding-left: 10%;
    transition: opacity 2.5s, visibility 2.5s;
}
.loader--hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 65px;
    height: 65px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top-color: #303030;
    animation: lod 0.5s ease infinite;
}
@keyframes lod {
    from{transform:rotate(0turn)}
    to{transform: rotate(1turn);}
}
.kol{
    position: fixed;
    top:0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.kols{
    position: fixed;
    top:0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(85, 85, 85, 0.274);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sign{
    width: 500px;
    height: fit-content;
    font-size: 25px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    /* /* display: flex; */
    /* justify-content: center; */
    text-align: center; 
    padding: 50px 80px;
    background: rgb(255, 255, 255);
}

.bvo{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 40%;
    /* align-items:center; */
}
.inst{
    width: 350px;
    height: 250px;
    overflow:scroll;
    border: 1px solid #88868696;
    text-align: center;
}
.awl input{
    margin: 0%;
    padding: 0%;
    width: 20px;
    margin-top: 5px;
}
.awl b{
    margin: 0%;
    padding: 0%;
    font-size: 12px;
    color: #303030;
}
.awl input:checked{
    accent-color: #009900;
}
.bf input{
    width: 60px;
    height: 30px;
    margin-left:  300px;
    margin-top: 20px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: azure;
}
.bf input:hover{
    background-color: orange;
    cursor: pointer;
    color: azure;
}

.consd{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    display:flex;
    justify-content: left;
    /* align-items: center; */
}
.consds{
    width: 100%;
    height: 100vh;
    /* margin-top: 20%; */
    /* border: 1px solid black; */
    /* display:flex; */
    /* justify-content: left; */
    /* align-items: center; */
}
.coc{
    display: flex;
    gap: 20px;
    padding-top: 15vh;
    padding-left: 20vw;
}
.cocs{
    padding-left: 20vw;
    width: 100%;
    height: 100vw;
    text-align: center;
    margin-top: 5%;
    /* padding-top: 15vh; */
    /* border: 1px solid #000; */
    /* display: flex;
    justify-content: center; */
}
.sign1{
    width: 500px;
    height: fit-content;
    font-size: 25px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    /* /* display: flex; */
    /* justify-content: center; */
    text-align: center; 
    padding: 50px 80px;
    background: rgb(255, 255, 255);
}
.hello{
    width: 98%;
    height: auto;
    /* margin-top: 7%; */
    /* border: 1px solid #000; */
    /* margin-top: 3%; */
    /* padding-top: 20%; */
    background-color: azure;
}

.boxsaq{
    width: 300px;
    height: 100px;
    border: 1px solid #818181c9;
    background-color:#009900c4;
}

.boxsaq1{
    width: 300px;
    height: 100px;
    border: 1px solid #818181c9;
    background-color:#992b00c4;
}
.h1q{
    padding: 15px;
    color: azure;
    font-size: 20px;
}
.ni{
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    font-size: 20px;
    color: azure;
}
/* .con11{ */
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    /* margin: 20px; */
/* }/ */
/* .contaisaa{ 
    width: 100%;
    display: flex;
    justify-content:center;
    margin-left: 20px;
} */
/* .con22{ */
    /* display: flex; */
    /* margin-left: 20px; */
/* } */
/* @media only screen and (max-width:742px){
    {
        
    }
} */